/* Fuentes Importadas */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #000;
    padding-top: 70px; /* espacio para que el nav no tape el contenido */
}

.main-nav {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;              /* ocupa todo el ancho */
    background: transparent;  /* fondo transparente, el contenedor tendrá el fondo */
    display: flex;
    justify-content: center;  /* centra el contenedor */
    z-index: 1000;
}

.nav-container {
    position: relative;
    width: 524px;             /* el mismo ancho que tenías antes */
    height: 50px;
    background-color: #222;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

.nav-container span {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #4f1919, #ff3333);
    border-radius: 8px;
    transition: .6s;
}

/* Hover dinámico */
.main-nav a:nth-child(1):hover ~ span {
    left: 0;
}

.main-nav a:nth-child(2):hover ~ span {
    left: 95px;
}

.main-nav a:nth-child(3):hover ~ span {
    left: 200px;
    width: 50px;
}

.main-nav a:nth-child(4):hover ~ span {
    left: 270px;
    width: 135px;
}

.main-nav a:nth-child(5):hover ~ span {
    left: 430px;
}
