/* Fuentes Importadas */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #000;
    padding-top: 70px;
}

.main-nav {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.nav-container {
    position: relative;
    width: 600px;
    height: 75px;
    background-color: #8B5E2F;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.logo img {
    width: 90px;   
    height: 60px;
    object-fit: contain;
    pointer-events: none;
}

.nav-container a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0 18px;
    z-index: 1;
}

.nav-container span {
    position: absolute;
    top: 0;
    left: 117px; 
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #b66a12, #ffb84d);
    border-radius: 8px;
    transition: .6s;
}


.main-nav a:nth-of-type(1):hover ~ span {
    left: 117px;
}

.main-nav a:nth-of-type(2):hover ~ span {
    left: 202px;
}

.main-nav a:nth-of-type(3):hover ~ span {
    left: 295px;
    width: 50px;
}

.main-nav a:nth-of-type(4):hover ~ span {
    left: 355px;
    width: 135px;
}

.main-nav a:nth-of-type(5):hover ~ span {
    left: 500px;
    width: 100px;
}
